button{
    align-items: center;
    margin-left: 45%;
    margin-top: 20px;
}
h2{
    margin-top: 10px;
    text-align: center;
    font-family:"Times New Roman";
    font-weight: bold;
    padding: 10px;

}
td{
    text-align: center;
}
th{
    text-align: center;
    font-weight: bold;
}
div{
overflow: visible;
}
img{
    height: 100px;
    width: 100px;
}
span{
    color: red;
}


