h1{
    text-align: center;
}

.contains{
    text-decoration: underline;
    background-color: blueviolet;
    color: white;
}

#abc{

    background-color: black;
    color: white;
}
*{
    background-color: rgb(38, 249, 179);
    padding: 5px;
    margin: 12px;
}
h4{
    font-weight: bold;
    font-size: 18px;
   
}
p{
    background-color: rgb(180, 5, 5);
    color: aliceblue;
}
p.xyz{
    background-color: black;
    color: white;
}
i,font{
    background-color: blueviolet;
   
    
}
.shitu.niku{
    background-color: brown;
}



