.xyz{
    color: blue; 
    background-color: aqua; 
    border: 2PX solid hsl(0, 50%, 50%);  
    border-radius: 20% 10%;
}
.abc{
    color: rgb(120,100 , 38);

}
.mkpit{
    color:  #ff0000;
}
.shitu{
    color: rgb(138, 153, 4,0.5);

}
.four{
    color: hsl(125 , 50% ,50%);
}
body{
    border: 2px solid #ff0000;
    /* background: rgba(0, 0, 0, 0.39) , url(mountains.jpg);
    background-image: url(mountains.jpg); */
    
    
    
}
p{
   
    border: 2px groove red;
    border-width: 200px;
    padding: 20px;
    
}
.niku{

}
img{
    background: cover;
}