
img{
    width:300px;
    box-shadow: 2px 2px 2px 5px brown;
    
}




p{
    
    outline: 2px solid black;
    width: 400px;
    height: 200px;
    background-color: green;
    border-radius: 8px;
   
}
body{
    padding: 5px;
    background-color: rgba(255, 166, 0, 0.425);
}
.text{
    border-bottom: 2px dotted rgb(51, 19, 139);
}
.abc{
    background-color: rgb(21, 234, 234);
    
}
