li{
    display:inline-block;
    
    
   
}
ul{
    background-color: brown;
    width: 100%;
    padding: 10px 10px;
    

}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px ;
    font-size: 26px;
    display: flex;
    text-align: center;
   
    
}
a:visited{
    
    color: rgb(232, 222, 248);

}
a:active{
    color: rgb(4, 63, 116);
}
a:hover{
    background-color: aqua;
    color: red;
}
img{
    width: 150px;
    height: 100px;
    float:left;
    margin-right: 700px;
    
}
.abc{
    align-items: center;
}
