*{
    margin: 0;
    

}

img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-right: 600px;
    
    
}
li,a{
    display: block;
   
    padding : 30px;
    text-decoration: none;
    color: aliceblue;
   
    
   
   

   
}
ul{
    background-color: rgb(8, 37, 48);
    
    width: 200px;
    height: 500% ;
    position: fixed;
    overflow: auto;
   
   
   
    
    
}

li a:hover{
    border-left: 4px solid gold ;
    color: aqua;
}
.aside-section{
    margin-left: 250px;
    background-color: aqua;
    height: 900px;
    padding: 8px ;
    
}
.active{
    border-left: 4px solid gold ;
    color: aqua;
}
    

